.jumbotron, .alert {
    margin-top: 20px;
}

.jumbotron h1 {
    margin-bottom: 20px;
}

.jumbotron h1 .label {
    padding: .1em .4em .15em;
}

.table > thead {
    font-weight: bold;
}

html {
    background-color: #f5f5f5;
}

body {
    background-color: #fff;
}

footer {
    background-color: #f5f5f5;
    padding: 20px;
}
