@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

html {
    background-color: #f5f5f5;
}

body {
    background-color: #fff;
    font-family: "Merriweather", sans-serif;
}

h1, h2, h3, h4, h5, h6, input, button, label, table, .nav-tabs, .alert {
    font-family: "Lato", sans-serif;
}

#main-jumbotron {
    background-image: url(assets/illini_union.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.jumbotron h1 {
    margin-bottom: 20px;
}

.jumbotron h2 {
    margin-top: 30px;
}

#main-jumbotron h1 {
    text-shadow: 1px 1px 30px #000;
}

.jumbotron h1 .label {
    padding: .1em .4em .15em;
}

#main-jumbotron p, #main-jumbotron label {
    text-shadow: 1px 1px 5px #000;
}

#main-jumbotron label {
    font-weight: 400;
}

#main-jumbotron form {
    margin-top: 30px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.table > thead {
    font-weight: bold;
}

footer {
    background-color: #f5f5f5;
    color: #777;
    padding: 20px;
    margin-top: 40px;
}
